<!DOCTYPE html>
<html lang="en">
<head>
	<title>O's CatchPhrase.ly</title>
	<meta charset="utf-8" />
  	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Underscore -->
  	<script src="/vendor/underscore/underscore-min.js"></script>
  <!-- Bootstrap JS -->
  	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <!-- CatchPhrase.ly -->
  	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
  	<script src="/static/js/app.js"></script>
</head>
<body>
	<div id="page-wrapper" class="container">
	
	<!--heading-->
    	<header class="page-header">
      		<h1> O's CatchPhrase.ly<small> Words. Learn em. Love em.</small></h1>
    	</header>
    
    <!-- form -->
    	<form class="form-inline" id="new-phrase-form" action="/phrases" method="POST">
      		<input name="word" type="text" class="form-control" id="word-definition-input" placeholder="Word">
      		<input name="definition" type="text" class="form-control" id="word-definition-input" placeholder="Definition">
      		<button type="submit" class="btn btn-success">Add</button>
      		
      	</form>
      	<ul class="list-group" id="phrase-ul">
      	</ul>
  	</div>
  	<div class ='delete'>
  		<script type="text/template" id="phrases-template">
    		<li class='list-group-item'><%= word %>
    			<span class='label label-default'><%= definition%></span>
    			<button data_id='<%= _id %>' onclick='deletePhrase(this)' type='button'class='btn btn-danger' aria-label='Delete'><span aria-hidden='true'>&times;</span></button>
    			
    		</li>
    	</script>
    </div>	
      		
    
</body>
</html>